<form action="/results">
  <input placeholder="Pikachu" name="term" />
  <button>search</button>
</form>

<div class="collection-container">
  {{#each cards}}

    <div class="card">

      <img src="{{cardImage}}" alt="Image" />
      <small>${{cardValue}}</small>
      <br />
      <strong class="card-name">{{cardName}}</strong>

      <form action="/collection/{{_id}}/edit" method="POST">
        <input
          type="number"
          min="1"
          name="cardAmount"
          id=""
          value="{{cardAmount}}"
        />
        <button class="update">update</button>
      </form>
      <form action="/collection/{{_id}}/delete" method="POST">
        <button class="delete">Delete</button>
      </form>
    </div>
  {{/each}}
</div>