<div class="search-container">
  <form class="text-field" action="/results">
    <div class="left-container">
      <input placeholder="Pikachu" name="term" />
    </div>
    <div class="right-container">
      <button class="sign-in-btn">search</button>
    </div>
  </form>
</div>

<h2>Total value: {{TotalValue}}</h2>

<div class="collection-container">
  {{#each cards}}

    <div class="card">

      <img src="{{cardImage}}" alt="Image" />
      <small>${{cardValue}}</small>
      <br />
      <strong class="card-name">{{cardName}}</strong>

      <form action="/collection/{{_id}}/edit" method="POST">
        <input
          type="number"
          min="1"
          name="cardAmount"
          id=""
          value="{{cardAmount}}"
        />
        <button class="update">Update</button>
      </form>
      <form action="/collection/{{_id}}/delete" method="POST">
        <button class="delete">Delete</button>
      </form>
    </div>
  {{/each}}
</div>