<form action="/results">
  <input placeholder="Pikachu" name="term" />
  <button>search</button>
</form>

{{#each cards}}
  <div class="card-wrapper">
    <h3>{{cardName}}</h3>
    <small>{{cardValue}}</small>
    <img src="{{cardImage}}" alt="Image" class="card-image" />
  </div>
  <form action="/collection/{{_id}}/edit" method="POST">
    <input type="number" name="cardAmount" id="" value="{{cardAmount}}" />
    <button>update</button>
  </form>
  <form action="/collection/{{_id}}/delete" method="POST">
    <button>Delete</button>
  </form>
{{/each}}