<div class="card-container">
  {{#each cardsToDisplay}}
    <div class="card">
      <form action="/add-card" method="POST">

        <img src="{{images.small}}" alt="Image" />
        <img class="logo" src="{{set.images.logo}}" alt="Image" />
        <small>${{cardmarket.prices.avg1}}</small>
        <strong class="card-name">{{name}}</strong>
        <input type="text" name="cardName" class="hidden" value="{{name}}" />
        <input
          type="text"
          name="cardValue"
          class="hidden"
          value="{{cardmarket.prices.avg1}}"
        />
        <input
          type="text"
          name="cardSetLogo"
          class="hidden"
          value="{{set.images.logo}}"
        />
        <input
          type="text"
          name="cardImage"
          class="hidden"
          value="{{images.small}}"
        />
        <input type="text" name="cardApiId" class="hidden" value="{{id}}" />
        <input type="text" name="cardAmount" class="hidden" value="1" />
        <button>+</button>
      </form>
    </div>
  {{/each}}
</div>